
<div class="navbar navbar-expand-sm  navbar-lewagon">
<a class="nav-link" href="publications" style="text-decoration: none; color: #1e2335; text-align: right; width: 100%">Publications</a>

</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container">
    <h1><strong>Mani</strong> Venkatesan</h1>
    <p>Cancer Researcher, Medical Student & Science Geek.</p>
    <%# <a class="btn btn-flat" href="#">About Me</a> %>
  </div>
</div>

      
<div class="container" style="width: 100vw; ">

<div class="row main-cards">
  <%# <div class="col-sm-12 text-center" style="margin-top: 15px;">
    <h2 class="section-divider"> Learn about what I do</h2>
    <p style="font-size: 14px; margin-bottom: 20px; color: darkblue;">Scientific research, medicine to marathon training.</p>
  </div> %>

  <div class="col-sm-12 col-md-4 text-center" style="margin: 15px 0px;">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://images.unsplash.com/photo-1500244056763-6d5e37bf89b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image">
      <div class="card-img-overlay">
      <a class="btn white-btn" href="journal" >
        <h5 class="card-title">Journal Club</h5>
        <p class="card-text">Recent reviews of high-quality scientific articles.</p>
      </a>  
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 text-center " style="margin: 15px 0px;">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://images.unsplash.com/photo-1500245479473-c831c14ba327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image">
      <div class="card-img-overlay">
      <a class="btn white-btn" href="race" >
        <h5 class="card-title">30 Days of Running</h5>
        <p class="card-text">How a 30 day challenge inspired me to run an ultra marathon for Cancer Reasearch UK.</p>
      </a>  
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 text-center" style="margin: 15px 0px;">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://images.unsplash.com/photo-1513624954087-ca7109c0f710?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Card image">
      <div class="card-img-overlay">
      <a class="btn white-btn" href="reading" >
        <h5 class="card-title">Books of Impact</h5>
        <p class="card-text">Reading list of my most inspiring reads.</p>
      </a>  
      </div>
    </div>
  </div>

  <%# <div class="col-sm-12 col-md-3 twitter" style="text-align: center; margin-bottom: 20px">
    <h2 class="section-divider">Let's Tweet!</h2>
    <p style="font-size: 14px; margin-bottom: 20px; color: darkblue;">Follow me on social media.</p>
    <a href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @MD_Venkatesan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" data-width="100vw" data-height="300" data-theme="light" href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw">Tweets by MD_Venkatesan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> %>

</div>      

</div>

<div class="interests container" style="text-align: center;">

  <h2 class="section-divider">Areas of Interest</h2>
  <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p>

  <div class="row" style="text-align: center;">
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-microscope"></i>
      <h6>Cancer Research</h6>
      <p style="font-size: 12px; padding: 10px;">My Phd research at the Francis Crick Institute in London focuses on how APOBEC is involved in genome instability.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-stethoscope"></i>
      <h6>Medicine</h6>
      <p style="font-size: 12px; padding: 10px;">An aspiring medical oncologist. Currently a 4th year medical student at Erasmus University Rotterdam in the Netherlands.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-chart-bar"></i>
      <h6>Budding Data-Scientist</h6>
      <p style="font-size: 12px; padding: 10px;">Getting versed in Python and R and gearing up towards analysis of genomics data.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-brain"></i>
      <h6>Growth Mindset</h6>
      <p style="font-size: 12px; padding: 10px;">Training the mind by acquiring new skills, callousing the body and staying curious. One of the philosophies I aim to live life by.</p>
    </div>
  </div>

  <div class="social-media text-center">
    <h2 class="section-divider">Let's Connect</h2>
    <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Follow me on social media.</p>
    <div class="row">
      <div class="col-sm-12 col-md-3 twitter" style="text-align: center; margin-bottom: 20px">
        <%# <h2 class="section-divider">Let's Tweet!</h2> %>
        <%# <p style="font-size: 14px; margin-bottom: 20px; color: darkblue;">Follow me on social media.</p> %>
        <%# <a href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @MD_Venkatesan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> %>
        <a class="twitter-timeline" data-width="100vw" data-height="300" data-theme="light" href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw">Tweets by MD_Venkatesan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

</div>

<div class=" container">
    <h2 class="section-divider">About Me</h2>
    <p style="font-size: 14px; margin: 20px 0px; color: darkblue; text-align: center">Learn more about my journey.</p>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="mani-photo">
        
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div style="display: flex; align-items: center; justify-content: center; padding: 5px">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
  </div>

    <div class=" social-media row" style="text-align: center; font-size: 25px; margin: 30px;">
      <div class="col">
        <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=MD_Venkatesan&tw_p=followbutton">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/subramanian-venkatesan-88b8034b/">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="col">
        <a href="https://www.instagram.com/manivenkie/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>

  </div>

<div class="container" style="margin-bottom: 30px;">
    <p style="width: 100%; display: flex; justify-content: space-between"><span></span> <span ><a href="publications">Publications <i class="fas fa-arrow-right"></i></a> </span></p>
</div>


<div class="footer" style="height: 0px;">
  <p style="color:grey; width: 100%; margin-bottom: 10px">Website developed by <a href="https://ashnashah.com/" target="blank">ashnashah.com</a></p>
</div>
<div class="footer"> 
  <span class="memento-mori">Memento Mori</span> copyright &copy; 2020 | Mani Venkatesan
</div>






