
<div class="navbar navbar-expand-sm  navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%# <i class="fab fa-monero"></i> %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> %>
</a>

<a class="nav-link" href="publications" style="text-decoration: none; color: #1e2335;">Publications</a>
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars navbar-toggler-icon"></i>
  </button> %>

<%# 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="publications">Publications</a>
      </li>
    </ul>
  </div> %>
</div>

<%# <div class="banner"> %>
<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1513569536235-bf46baacc948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2511&q=80);"> %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">

<%# <div class="banner" style="background-image: url(= asset_path('mani.JPG'))"> %>
<%# <img src="./assets/images/mani.JPG"> %>

  <div class="container">
    <h1><strong>Mani</strong> Venkatesan</h1>
    <p>Cancer Researcher, Medical Student & Science Geek.</p>
    <%# <a class="btn btn-flat" href="#">About Me</a> %>
  </div>
</div>

<div class="content" style="width: 100vw;">
      
<div class="container" style="width: 100vw; ">


<div class="row main-cards">
  <%# <div class="col-sm-12 text-center" style="margin-top: 15px;">
    <h2 class="section-divider"> Learn about what I do</h2>
    <p style="font-size: 14px; margin-bottom: 20px; color: darkblue;">Scientific research, medicine to marathon training.</p>
  </div> %>

  <div class="col-sm-12 col-md-4 text-center" style="margin-top: 15px;">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://images.unsplash.com/photo-1500244056763-6d5e37bf89b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image">
      <div class="card-img-overlay">
      <a class="btn white-btn" href="#" >
        <h5 class="card-title">Journal Club</h5>
        <p class="card-text">Recent reviews of high-quality scientific articles. Check if yours is here!</p>
      </a>  
      </div>
    </div>
    <%# <a class="btn btn-ghost" href="#" >
      <p>Journal Club</p>
      <p style="font-size: 12px">Recent reviews of high-quality scientific articles. Check if yours is here!</p> 
    </a> %>
  </div>

  <div class="col-sm-12 col-md-4 text-center " style="margin-top: 15px;">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://images.unsplash.com/photo-1500245479473-c831c14ba327?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Card image">
      <div class="card-img-overlay">
      <a class="btn white-btn" href="#" >
        <h5 class="card-title">My Race for Cancer Research UK</h5>
        <p class="card-text">Follow my journey as I aim to run a marathon in the last few months of my Phd.</p>
      </a>  
      </div>
    </div>
    <%# <a class="btn btn-ghost" href="#">
      <p>My Race for Cancer Research UK</p>
      <p style="font-size: 12px">Follow my journey as I aim to run a marathon in the last few months of my Phd.</p>
    </a> %>
  </div>

  <div class="col-sm-12 col-md-4 text-center" style="margin-top: 15px;">
    <div class="card bg-dark text-white">
      <img class="card-img" src="https://images.unsplash.com/photo-1513624954087-ca7109c0f710?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Card image">
      <div class="card-img-overlay">
      <a class="btn white-btn" href="#" >
        <h5 class="card-title">From Rotterdam to London</h5>
        <p class="card-text">My journey as a MD Phd student from the NL to the UK.</p>
      </a>  
      </div>
    </div>
    <%# <a class="btn btn-ghost" href="#">
      <p>From Rotterdam to London</p>
      <p style="font-size: 12px">My journey as a MD Phd student from the NL to the UK.</p>
    </a>  %>
  </div>

  <%# <div class="col-sm-12 col-md-9" style="padding-top: 30px; margin-bottom: 20px">
    <h2 style="font-size: 20px; font-weight: 700; text-align: center;">Learn about what I do</h2>
    <p style="font-size: 14px; margin-bottom: 20px; text-align: center;">Scientific research, medicine to marathon training.</p>
      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1486825586573-7131f7991bdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
        <div class="card-product-infos">
          <h2>Journal Club</h2>
          <p>Recent reviews of high-quality scientific articles. Check if yours is here!</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1576086686350-2f5dba3ffeb3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1104&q=80" />
        <div class="card-product-infos">
          <h2>From Rotterdam to London</h2>
          <p>My journey as a MD Phd student from the NL to the UK.</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1505761671935-60b3a7427bad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <div class="card-product-infos">
          <h2>From Rotterdam to London</h2>
          <p>My journey as a MD Phd student from the NL to the UK.</p>
        </div>
      </div>
  </div> %>

  <%# <div class="col-sm-12 col-md-3 twitter" style="text-align: center; margin-bottom: 20px">
    <h2 class="section-divider">Let's Tweet!</h2>
    <p style="font-size: 14px; margin-bottom: 20px; color: darkblue;">Follow me on social media.</p>
    <a href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @MD_Venkatesan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" data-width="100vw" data-height="300" data-theme="light" href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw">Tweets by MD_Venkatesan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> %>

</div>      

</div>
</div>

<div class="interests container" style="text-align: center;">
  <h2 class="section-divider">Areas of Interest</h2>
  <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working one.</p>
  <div class="row" style="text-align: center;">
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-microscope"></i>
      <h6>Cancer Research</h6>
      <p style="font-size: 12px; padding: 10px;">My Phd research at the Francis Crick Institute in London focuses on how APOBEC is involved in genome instability.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-stethoscope"></i>
      <h6>Medicine</h6>
      <p style="font-size: 12px; padding: 10px;">An aspiring medical oncologist. Currently a 4th year medical student at Erasmus University Rotterdam in the Netherlands.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-chart-bar"></i>
      <h6>Budding Data-Scientist</h6>
      <p style="font-size: 12px; padding: 10px;">Getting versed in Python and R and gearing up towards analysis of genomics data.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <i class="fas fa-brain"></i>
      <h6>Growth Mindset</h6>
      <p style="font-size: 12px; padding: 10px;">Training the mind by acquiring new skills, callousing the body and staying curious. One of the philosophies I aim to live life by.</p>
    </div>
  </div>

  <div class="social-media text-center">
    <h2 class="section-divider">Let's Connect</h2>
    <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Follow me on social media.</p>
    <div class="row">
      <div class="col-sm-12 col-md-3 twitter" style="text-align: center; margin-bottom: 20px">
        <%# <h2 class="section-divider">Let's Tweet!</h2> %>
        <%# <p style="font-size: 14px; margin-bottom: 20px; color: darkblue;">Follow me on social media.</p> %>
        <%# <a href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @MD_Venkatesan</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> %>
        <a class="twitter-timeline" data-width="100vw" data-height="300" data-theme="light" href="https://twitter.com/MD_Venkatesan?ref_src=twsrc%5Etfw">Tweets by MD_Venkatesan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=MD_Venkatesan&tw_p=followbutton">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/subramanian-venkatesan-88b8034b/">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div class="col">
        <a href="https://www.instagram.com/manivenkie/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  

</div>

<div class="footer"> 
  <span class="memento-mori">Memento Mori</span> copyright &copy; 2020 | Mani Venkatesan
</div>






