<div class="navbar navbar-expand-sm  navbar-lewagon">

<a class="nav-link" href="home" style="text-decoration: none; color: #1e2335; width: 100%; text-align: right;">Home</a>
</div>

<div style="height: calc(100vh - 40px); display: flex; align-items: center; justify-content: center"><p>Journal Club Coming Soon!</p></div>

<%# <div class="footer" style="height: 0px;">
  <p style="color:grey; width: 100%; margin-bottom: 10px">Website developed by <a href="www.ashnashah.com">ashnashah.com</a></p>
</div>
<div class="footer"> 
  <span class="memento-mori">Memento Mori</span> copyright &copy; 2020 | Mani Venkatesan
</div> %>