<div class="navbar navbar-expand-sm  navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%# <i class="fab fa-monero"></i> %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%# <span class="navbar-toggler-icon"></span> %>
    <i class="fas fa-bars navbar-toggler-icon"></i>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="publications">Publications</a>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574170609519-d1d8d4b71f60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Discoveries in Progress<strong></strong></h1>
    <p>A list of my scientific publications.</p>
    <%# <a class="btn btn-flat" href="#">My Blogs</a> %>
  </div>
</div>

<div class="container">

<a  class="publication-card" href="https://doi.org/10.1038/nmeth.4473" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
  <div class="card-product-infos">
    <h2>A benchmark for comparison of cell tracking algorithms</h2>
    <p style="font-size: 8px;">Martin Maška, Vladimír Ulman, David Svoboda, Pavel Matula, Petr Matula, Cristina Ederra, Ainhoa Urbiola, Tomás España, <strong style="color:red">Subramanian Venkatesan</strong>, Deepak MW Balak, Pavel Karas, Tereza Bolcková, Markéta Štreitová, Craig Carthel, Stefano Coraluppi, Nathalie Harder, Karl Rohr, Klas EG Magnusson, Joakim Jaldén, Helen M Blau, Oleh Dzyubachyk, Pavel Křížek, Guy M Hagen, David Pastor-Escuredo, Daniel Jimenez-Carretero, Maria J Ledesma-Carbayo, Arrate Muñoz-Barrutia, Erik Meijering, Michal Kozubek, Carlos Ortiz-de-Solorzano</p>
    <p style="font-size: 8px; font-weight: bolder">Bioinformatics (2014)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.18632/genesandcancer.42" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1486825586573-7131f7991bdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
  <div class="card-product-infos">
    <h2>The Bcl-2 inhibitor Obatoclax overcomes resistance to histone deacetylase inhibitors SAHA and LBH589 as radiosensitizers in patient-derived glioblastoma stem-like cells</h2>
    <p style="font-size: 8px;">LM Berghauser Pont, JK Spoor, <strong style="color:red">Subramanian Venkatesan</strong>, Sigrid Swagemakers, Jenneke J Kloezeman, CM Dirven, Peter J van der Spek, Martine LM Lamfers, Sieger Leenstra</p>
    <p style="font-size: 8px; font-weight: bolder">Genes & cancer 5 (2014)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="#" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1454875392665-2ac2c85e8d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80" />
  <div class="card-product-infos">
    <h2>Ibrutinib: Perspective for elderly with mantle cell lymphoma</h2>
    <p style="font-size: 8px">S Kwadijk-De Gijsel, <strong style="color: red">S Venkatesan</strong></p>
    <p style="font-size: 8px; font-weight: bolder">Pharmaceutisch Weekblad (2015)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1016/j.canlet.2014.09.049" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1578496779937-3815e442abed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1209&q=80" />
  <div class="card-product-infos">
    <h2>DNA damage response and anti-apoptotic proteins predict radiosensitization efficacy of HDAC inhibitors SAHA and LBH589 in patient-derived glioblastoma cells</h2>
    <p>Lotte ME Berghauser Pont, Kishan Naipal, Jenneke J Kloezeman, <strong style="color:red">Subramanian Venkatesan</strong>, Martin van den Bent, Dik C van Gent, Clemens MF Dirven, Roland Kanaar, Martine LM Lamfers, Sieger Leenstra</p>
    <p style="font-size: 8px; font-weight: bolder">Cancer letters (2015)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1200/EDBK_158930" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1579684453401-966b11832744?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80" />
  <div class="card-product-infos">
    <h2>Tumor Evolutionary Principles: How Intratumor Heterogeneity Influences Cancer Treatment and Outcome</h2>
    <p><strong>S Venkatesan</strong>, C Swanton</p>
    <p class="journal-date">American Society of Clinical Oncology educational book/ASCO (2015)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.18632/oncotarget.11205" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1576086639808-ddfd21aa668c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />
  <div class="card-product-infos">
    <h2>TP53 mutated glioblastoma stem-like cell cultures are sensitive to dual mTORC1/2 inhibition while resistance in TP53 wild type cultures can be overcome by combined inhibition of mTORC1/2 and Bcl-2</h2>
    <p><strong>Subramanian Venkatesan</strong>, Marlous Hoogstraat, Ester Caljouw, Tessa Pierson, Jochem Spoor, Lona Zeneyedpour, Erik Jan Dubbink, Lennard JM Dekker, Mariëlle van der Kaaij, Jenneke Kloezeman, LME Berghauser Pont, Nicolle Besselink, Theo Luider, Jos Joore, John Martens, Martine Lamfers, Stefan Sleijfer, Sieger Leenstra</p>
    <p class="journal-date">Oncotarget (2016)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.2217/cns-2015-0005" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1582719471180-aad67c6023c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1250&q=80" />
  <div class="card-product-infos">
    <h2>Genetic biomarkers of drug response for small-molecule therapeutics targeting the RTK/Ras/PI3K, p53 or Rb pathway in glioblastoma</h2>
    <p><strong>Subramanian Venkatesan</strong>, Martine LM Lamfers, Clemens MF Dirven, Sieger Leenstra</p>
    <p class="journal-date">CNS oncology (2016)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1186/s13059-016-1042-9" target="blank"> 
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1576086265779-619d2f54d96b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80" />
  <div class="card-product-infos">
    <h2>DNA replication stress mediates APOBEC3 family mutagenesis in breast cancer</h2>
    <p>Nnennaya Kanu, Maria Antonietta Cerone, Gerald Goh, Lykourgos-Panagiotis Zalmas, Jirina Bartkova, Michelle Dietzen, Nicholas McGranahan, Rebecca Rogers, Emily K Law, Irina Gromova, Maik Kschischo, Michael I Walton, Olivia W Rossanese, Jiri Bartek, Reuben S Harris, <strong>Subramanian Venkatesan</strong>, Charles Swanton</p>
    <p class="journal-date">Genome Biology (2016)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1042/BST20160229" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1524684009724-bee13ad8305f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80" />
  <div class="card-product-infos">
    <h2>Constraints in cancer evolution</h2>
    <p><strong>S Venkatesan</strong>, NJ Birkbak, C Swanton</p>
    <p class="journal-date">Biochemical Society Transactions (2017)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1016/j.coisb.2017.02.009" target="blank">
<div class="card-product">
<img src="https://images.unsplash.com/photo-1485163819542-13adeb5e0068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
  <div class="card-product-infos">
    <h2>Evolutionary dynamics in pre-invasive neoplasia</h2>
    <p>C Abbosh, <strong>S Venkatesan</strong>, SM Janes, RC Fitzgerald, C Swanton</p>
    <p class="journal-date">Current Opinion in Systems Biology (2017)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1101/cshperspect.a026617" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1576091160651-e028ca26a943?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" />
  <div class="card-product-infos">
    <h2>Treatment-Induced Mutagenesis and Selective Pressures Sculpt Cancer Evolution</h2>
    <p><strong>S Venkatesan</strong>, C Swanton, BS Taylor, JF Costello</p>
    <p class="journal-date">Cold Spring Harbor perspectives in medicine (2017)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1093/annonc/mdy003" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1581594294883-5109c202942f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />
  <div class="card-product-infos">
    <h2>APOBEC mutagenesis in drug resistance and immune escape in HIV and cancer evolution</h2>
    <p><strong>S Venkatesan</strong>, R Rosenthal, N Kanu, N McGranahan, J Bartek, SA Quezada, J Hare, RS Harris, C Swanton</p>
    <p class="journal-date">Annals of Oncology (2018)</p>
  </div>
</div>
</a>

<a  class="publication-card" href="https://doi.org/10.1038/nature25432" target="blank">
<div class="card-product">
  <img src="https://images.unsplash.com/photo-1578496779937-3815e442abed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1209&q=80" />
  <div class="card-product-infos">
    <h2>Chromosomal instability drives metastasis through a cytosolic DNA response</h2>
    <p>Samuel F Bakhoum, Bryan Ngo, Ashley M Laughney, Julie-Ann Cavallo, Charles J Murphy, Peter Ly, Pragya Shah, Roshan K Sriram, Thomas BK Watkins, Neil K Taunk, Mercedes Duran, Chantal Pauli, Christine Shaw, Kalyani Chadalavada, Vinagolu K Rajasekhar, Giulio Genovese, <strong>Subramanian Venkatesan</strong>, Nicolai J Birkbak, Nicholas McGranahan, Mark Lundquist, Quincey LaPlant, John H Healey, Olivier Elemento, Christine H Chung, Nancy Y Lee, Marcin Imielenski, Gouri Nanjangud, Dana Pe’er, Don W Cleveland, Simon N Powell, Jan Lammerding, Charles Swanton, Lewis C Cantley</p>
    <p class="journal-date">Nature (2018)</p>
  </div>
</div>
</a>
</div>
