<div class="navbar navbar-expand-sm  navbar-lewagon">

<a class="nav-link" href="home" style="text-decoration: none; color: #1e2335; width: 100%; text-align: right;">Home</a>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1532736006876-5892689550a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2389&q=80); height: 200px; padding: 80px 0px;">
  <div class="container">
    <%# <h1>Discoveries in Progress<strong></strong></h1> %>
    <h1 style="font-size: 22px; text-align: center">30 Days of Running</h1>
    <%# <a class="btn btn-flat" href="#">My Blogs</a> %>

  </div>
</div>

<div class="container" style="padding: 15px; margin-top: 15px; margin-bottom: 20px;">
    <%# <h5 style="color: darkblue">30 Day Running Challenge</h5> %>
    <p >In order to acquire good habits I routinely challenge myself to complete a task or spend time on an activity for <strong>30 days</strong>. Since I intensely dislike jogging, I challenged myself to run for 30 days. By doing something I don’t like I aim to: <p>
    <ol style="padding: 0 0 0 20px;">
        <li>increase my tolerance for suffering</li>
        <li>increase my self-confidence by consistently completing difficult tasks I set out to do</li>
        <li>perform an experiment on myself and see whether I can change my perspective on the task.</li>
    </ol>
   <p>I coupled it with daily awkward instagram posts just to “publicly embarrass” myself, so that I would feel accountable to keep on running despite feeling resistance. After completing my 30 day challenge “I feel I’ve now acquired the basic skill of running. In addition I’ve listened to the audiobooks “Finding Ultra” and “Born to Run”, which have truly changed my perspective on this activity.</p> 
   <p>Around midway this 30 day challenge I got the idea to perhaps run a “self-organized solo marathon” (since no marathons are currently being held). At the same time  I would like to raise money for Cancer Research UK. I won’t run everyday because that might elicit injuries, but I will train daily alternating exercises. I will keep you updated about upcoming milestones in my running journey.</p>
</div>

<div class="container" style="margin-bottom: 30px;">
    <p style="width: 100%; display: flex; justify-content: space-between"><span><a href="journal"><i class="fas fa-arrow-left"></i> Journal Club</a></span> <span><a href="reading">Books of Impact <i class="fas fa-arrow-right"></i></a> </span></p>
</div>


<div class="footer" style="height: 0px;">
  <p style="color:grey; width: 100%; margin-bottom: 10px">Website developed by <a href="#">ashnashah.com</a></p>
</div>
<div class="footer"> 
  <span class="memento-mori">Memento Mori</span> copyright &copy; 2020 | Mani Venkatesan
</div>