<div class="navbar navbar-expand-sm  navbar-lewagon">

<a class="nav-link" href="home" style="text-decoration: none; color: #1e2335; width: 100%; text-align: right;">Home</a>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80); height: 200px; padding: 80px 0px;">
  <div class="container">
    <%# <h1>Discoveries in Progress<strong></strong></h1> %>
    <h1 style="font-size: 22px; text-align: center">Books of Impact</h1>
    <%# <a class="btn btn-flat" href="#">My Blogs</a> %>

  </div>
</div>

<div class="container" style="margin-top: 15px; margin-bottom: 30px;">
  <%# <h2 class="section-divider">Biography</h2> %>
  <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p> %>
    <ul class="genre-list">
        <li>
            <p class="title">Can't hurt me<span class="author"> - David Goggins</span><span class="biography"> - Biography</span><p>
            <p style="color: red;"></p>
        </li>
    </ul>

    <%# <h2 class="section-divider">Myths & legends</h2> %>
    <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p> %>
    <ul class="genre-list">
        <li>
            <p class="title">Mythos <span class="author"> - Stephen Fry</span><span class="myths"> - Myths & Legends</span><p>
        </li>
    </ul>

    <%# <h2 class="section-divider">Philosophy</h2> %>
    <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p> %>
    <ul class="genre-list">
        <li><p class="title">The obstacle is the way<span class="author"> - Ryan Holiday</span><span class="philosophy"> - Philosophy</span><p></li>
        <li><p class="title">How to think like a roman emperor - The stoic philosophy of Marcus Aurelius<span class="author"> - Donald Robertson</span><span class="philosophy"> - Philosophy</span><p></li>
    </ul>

    <%# <h2 class="section-divider">Science</h2> %>
    <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p> %>
    <ul class="genre-list">
        <li><p class="title">Brief answers to the big questions<span class="author"> - Stephen Hawking</span><span class="philosophy"> - Philosophy</span><p></li>
    </ul>

    <%# <h2 class="section-divider">Self Development</h2> %>
    <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p>     %>
    <ul class="genre-list">
        <li><p class="title">How to fail at almost everything and still win big<span class="author"> - Scott Adams</span><span class="selfdev"> - Self Development</span><p> </li>
        <li><p class="title">The war of art<span class="author"> - Steven Pressield</span><span class="selfdev"> - Self Development</span><p></li>
        <li><p class="title">Tool of titans<span class="author"> - Tim Ferriss</span><span class="selfdev"> - Self Development</span><p></li>
        <li><p class="title">Man's search for meaning<span class="author"> - Viktor E. Frankl</span><span class="selfdev"> - Self Development</span><p></li>
        <li><p class="title">Tribe of mentors<span class="author"> - Tim Ferriss</span><span class="selfdev"> - Self Development</span><p></li>
        <li><p class="title">Mindset - Changing the way you think to fulfil your potential<span class="author"> - Carol Dweck</span><span class="selfdev"> - Self Development</span><p></li>
    </ul>

    <%# <h2 class="section-divider">Sociology & Anthropology</h2> %>
    <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p>         %>
    <ul class="genre-list">
        <li><p class="title">Sapiens - A brief history of human kind<span class="author"> - Yuval Noah Harari</span><span class="sociology"> - Sociology & Anthropology</span><p></li>
        <li><p class="title">21 lessons for the 21st century<span class="author"> - Yuval Noah Harari</span><span class="sociology"> - Sociology & Anthropology</span><p></li>
    </ul>

    <%# <h2 class="section-divider">Sport</h2> %>
    <%# <p style="font-size: 14px; margin: 20px 0px; color: darkblue;">Take a look at some of the things I love working on.</p> %>
    <ul class="genre-list">
        <li><p class="title">Born to run<span class="author"> - Christopher McDougall</span><span class="sport"> - Sport</span><p></li>
        <li><p class="title">Finding ultra<span class="author"> - Rich Roll</span><span class="sport"> - Sport</span><p></li>
    </ul>

</div>

<div class="container" style="margin-bottom: 30px;">
    <p style="width: 100%; display: flex; justify-content: space-between"><span><a href="race"><i class="fas fa-arrow-left"></i> 30 Days of Running</a></span> <span></span></p>
</div>


<div class="footer" style="height: 0px;">
  <p style="color:grey; width: 100%; margin-bottom: 10px">Website developed by <a href="www.ashnashah.com">ashnashah.com</a></p>
</div>
<div class="footer"> 
  <span class="memento-mori">Memento Mori</span> copyright &copy; 2020 | Mani Venkatesan
</div>