<div class="navbar navbar-expand-sm  navbar-lewagon">

<a class="nav-link" href="home" style="text-decoration: none; color: #1e2335; width: 100%; text-align: right;">Home</a>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1506880018603-83d5b814b5a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80); height: 200px; padding: 80px 0px;">
  <div class="container">
    <%# <h1>Discoveries in Progress<strong></strong></h1> %>
    <h1 style="font-size: 22px; text-align: center">Books of Impact</h1>
    <%# <a class="btn btn-flat" href="#">My Blogs</a> %>

  </div>
</div>

<div class="container" style="margin-top: 15px; margin-bottom: 30px">
    <ul>
        <li>Can't hurt me</li>
        <li>Mythos</li>
        <li>The obstacle is the way</li>
        <li>How to think like a roman emperor - The stoic philosophy of Marcus Aurelius</li>
        <li>Brief answers to the big questions</li>
        <li>How to fail at almost everything and still win big </li>
        <li>The war of art</li>
        <li>Tool of titans</li>
        <li>Man's search for meaning</li>
        <li>Tribe of mentors</li>
        <li>Mindset - Changing the way you think to fulfil your potential</li>
        <li>Sapiens - A brief history of human kind</li>
        <li>21 lessons for the 21st century</li>
        <li>Born to run</li>
        <li>Finding ultra</li>
    </ul>
</div>


<div class="footer" style="height: 0px;">
  <p style="color:grey; width: 100%; margin-bottom: 10px">Website developed by <a href="www.ashnashah.com">ashnashah.com</a></p>
</div>
<div class="footer"> 
  <span class="memento-mori">Memento Mori</span> copyright &copy; 2020 | Mani Venkatesan
</div>