.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: white;
  height: 40px
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.fa-monero {
  color: white;
}